In [1]:
# Import our dependencies
import pandas as pd
from sklearn.preprocessing import StandardScaler
# Read in our dataset
hr_df = pd.read_csv("hr_dataset.csv")
hr_df

    Satisfaction_Level  Num_Projects  Time_Spent  Num_Promotions
0                 0.30             1         253               2
1                 0.25             1         200               0
2                 0.90             4        2880               5
3                 0.65             3        1450               3
4                 0.50             2         785               2
5                 0.40             2         688               2
6                 0.85             4        2570               4
7                 0.90             5        2956               4
8                 0.15             0          68               1
9                 1.00             5        3424               6
10                0.70             3        2057               3
11                0.23             1         362               1
12                0.48             1         572               2
13                0.41             2         526               2
14                0.55             3         682               2
15                0.70             4        1575               4
16                0.65             3        1480               3
17                0.80             4        2390               4
18                0.87             4        2855               5
19                0.38             2         523               1
20                0.60             2        1025               2
21                0.90             5        3259               5
22                1.00             6        4816               7
23                0.75             3        1269               3
24                0.80             3        1540               3
25                0.46             1         605               2
26                0.50             2         832               2
27                0.35             1         428               1
28                0.70             2        1015               3

In [3]:
# Create the StandardScaler instance
scaler = StandardScaler()

In [4]:
# Fit the StandardScaler
scaler.fit(hr_df)

StandardScaler()

In [6]:
# Scale the Data
scaled_data = scaler.transform(hr_df)
scaled_data

array([[-1.3036154 , -1.16247639, -1.04948051, -0.55865556],
       [-1.51294456, -1.16247639, -1.09460336, -1.80488718],
       [ 1.20833454,  0.86023253,  1.18708024,  1.31069188],
       [ 0.16168873,  0.18599622, -0.03038526,  0.06446026],
       [-0.46629875, -0.48824008, -0.59654929, -0.55865556],
       [-0.88495708, -0.48824008, -0.67913261, -0.55865556],
       [ 0.99900538,  0.86023253,  0.92315415,  0.68757607],
       [ 1.20833454,  1.53446883,  1.2517847 ,  0.68757607],
       [-1.93160288, -1.83671269, -1.20698479, -1.18177137],
       [ 1.62699286,  1.53446883,  1.65022796,  1.93380769],
       [ 0.37101789,  0.18599622,  0.48639905,  0.06446026],
       [-1.59667623, -1.16247639, -0.95668069, -1.18177137],
       [-0.55003042, -1.16247639, -0.77789205, -0.55865556],
       [-0.84309124, -0.48824008, -0.81705528, -0.55865556],
       [-0.25696959,  0.18599622, -0.68424086, -0.55865556],
       [ 0.37101789,  0.86023253,  0.07603655,  0.68757607],
       [ 0.16168873,  0.18599622, -0.00484403,  0.06446026],
       [ 0.78967622,  0.86023253,  0.76990675,  0.68757607],
       [ 1.08273704,  0.86023253,  1.16579588,  1.31069188],
       [-0.96868874, -0.48824008, -0.8196094 , -1.18177137],
       [-0.04764043, -0.48824008, -0.39221941, -0.55865556],
       [ 1.20833454,  1.53446883,  1.50975117,  1.31069188],
       [ 1.62699286,  2.20870514,  2.83534123,  2.5569235 ],
       [ 0.58034706,  0.18599622, -0.18448404,  0.06446026],
       [ 0.78967622,  0.18599622,  0.04623844,  0.06446026],
       [-0.63376208, -1.16247639, -0.7497967 , -0.55865556],
       [-0.46629875, -0.48824008, -0.55653469, -0.55865556],
       [-1.09428624, -1.16247639, -0.90048998, -1.18177137],
       [ 0.37101789, -0.48824008, -0.40073316,  0.06446026]])

In [7]:
# Create a DataFrame with the scaled data
transformed_scaled_data = pd.DataFrame(scaled_data, columns=hr_df.columns)
transformed_scaled_data.head()

   Satisfaction_Level  Num_Projects  Time_Spent  Num_Promotions
0           -1.303615     -1.162476   -1.049481       -0.558656
1           -1.512945     -1.162476   -1.094603       -1.804887
2            1.208335      0.860233    1.187080        1.310692
3            0.161689      0.185996   -0.030385        0.064460
4           -0.466299     -0.488240   -0.596549       -0.558656